[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.6'

[packages]
terminaltables = '*'
progressbar2 = '*'
keras = '*'
tensorflow-gpu = '*'

[dev-packages]
yapf = '*'
pytest = '*'
mypy = '*'
flake8 = '*'
flake8-mypy = '*'
line_profiler = '*'